* {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


.list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;
    list-style-type: none;
}

.list__item {
    padding: 10px;
    color: darkgray;
    border: 2px solid darkgray;
    border-radius: 15px;
}

.list__item:hover {
    color: darkorange;
    font-weight: 800;
    border: 3px solid darkorange;
    cursor: pointer;
}

.text {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    border: 2px solid darkgray;
    border-radius: 5px;
}

.text::placeholder {
    color: lightgray;
    font-size: 12px;
}

.text:hover {
    cursor: pointer;
    color: darkorange;
    border: 3px solid darkorange;
}

.text:focus {
    outline: none;
    color: darkorange;
    border: 3px solid darkorange;
}

.text:focus::placeholder {
    color: rgb(255, 182, 92);
}

.select {
    color: red;
}

.hidden {
    display: none;
}

.hint {
    color: gray;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
